$background-color: #343a40;
$font-family: Corbel;
$nav-font-size: 20px;
$nav-color: white;
$nav-color-hover: #6c757d;
$main-page-color: white;
$h1-font-size: 50px;
$h2-font-size: 25px;
$main-page-margin-top: 50px;